1. Обрахунок норми калорій.
  - вводити параметри вік, вага, стать, ріст, кількість прийомів їжі, година першого і останнього прийому їжі.
  - після підтвердження виводити:
      норми калорій залежно від параметрів.
      час прийомів їжі.

2. База рецептів
  - бачити список рецептів.
  - фільтрувати за вегетеріанський/нормальний.
  - адмін можу видалити, додати, редагувати рецепт.


Завдання:
  3. Створити міграцію для бази.
  4. Підключити handlebars.
  5. Вивести початкову сторінку.
  6. Зробити форму для введення.
  7. Написати контроллер для обробки запитів на форму і створення.
