1. Обрахунок норми калорій.
  - вводити параметри вік, вага, стать, ріст, кількість прийомів їжі, година першого і останнього прийому їжі.
  - після підтвердження виводити:
      норми калорій залежно від параметрів.
      час прийомів їжі.

2. База рецептів
  - бачити список рецептів.
  - фільтрувати за вегетеріанський/нормальний.
  - адмін можу видалити, додати, редагувати рецепт.


  3. Написати стилі.
  4. При додаванні, видаленні і редагуванні питати пароль.
