<form method="POST" action="add-recipe">
  <div>
    <label for="name">Recipe name:</label>
    <input name="name" type="text" required />
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea name="description" required></textarea>
  <div>
    <label for="vegeterian">Is vegeterian:</label>
    <input type="checkbox" name="vegeterian" />
  </div>

  <div>
    <label for="products">Products:</label>
    <select name="products" required multiple>
      {{#each products}}
        <option>
          {{name}}
        </option>
      {{/each}}
    </select>
  </div>
  <input type="submit" value="Створити" />
</form>
