<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Project</title>
  </head>
  <body>
    <section>
      <h1>Header</h1>
    </section>
    <main>
      Main section
      <ul>
        {{#each recipes}}
          <li>
            {{name}}
            <form action="/delete-recipe" method="GET">
              <input name="recipeName" type="hidden" value="{{name}}" />
              <input type="submit" value="Видалити" />
            </form>
            <form action="/edit-recipe" method="GET">
              <input name="recipeName" type="hidden" value="{{name}}" />
              <input type="submit" value="Редагувати" />
            </form>
          </li>
        {{/each}}
      </ul>
      <a href="/add-recipe">Go here to insert new recipe</a>
    </main>
    <section>
      Footer
    </section>
  </body>
</html>
